<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="${BUILD_NUMBER}" android:versionName="2.0.${BUILD_NUMBER}" package="nl.test.XamarinTest">
  <uses-sdk android:minSdkVersion="15" />
  <application android:label="XamarinTest" android:icon="@mipmap/icon">
  </application>
</manifest>